.circular-progress {
    width: 110px;
    height: 110px;
    padding: 0.5em;
}

.background-circle {
    fill: none;
    stroke: #313131;
    stroke-width: 8;
}

.progress-circle {
    fill: none;
    stroke: url(#gradient); /* Usar um gradiente como preenchimento */
    stroke-width: 8;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s ease-in;
}

.circular{
    width: 150px;
    text-align: center;
}

.circularSkill{
    margin-top: -1em;
}



@keyframes gradient {
    0% {
        stop-color: #15b9b9; /* Cor inicial do gradiente */
    }
    100% {
        stop-color: #3c1dff; /* Cor final do gradiente */
    }
}



.progress-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle;
    fill: #c7c7c7; /* Cor do número */
}


@media screen and (max-width: 768px) {

    .background-circle {
        stroke-width: 10;
    }
    
    .progress-circle {
        stroke-width: 10;
    }
}